/* Colors and fonts*/

body{
	background: #F1F0EA;
	color: rgb(30,30,30);
	.ibm-plex-serif-medium {
  font-family: "IBM Plex Serif", serif;
  font-weight: 500;
  font-style: normal;
}
}	

h1, h2{
	.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}
	font-weight: 800;
}

h1{
	color: #304D6D;
	font-weight: 700;
	letter-spacing: 8px;
	font-size: 40px;
}

h2{
	color: #9799CA;
	font-weight: 700;
	font-size: 30px;
}

a{
	text-decoration: none;
	.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}
	color: #CE7DA5;
	font-weight: 600;
}
a:hover {
	color: rgb(50,50,50);
}

p{
	text-justify: center;
}

ul{
	color:#E0DDCF;
}



/* Custom design with class */

.container{
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container{
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container{
    	width: 400px;
	}
}





.card-white{
	background: : #F1F0EA;
	padding: 60px;
	margin: 50px;
	box-shadow: 0px 10px 30px rgba(11, 57, 84,0.1);
	border-radius: 5px;	
	text-align: center;
}

.img-circle{
	border-radius: 50%;
}

.btn-pink{
	background-color: #CE7DA5;
	color: white;
	padding: 15px 20px;
	border-radius: 5px;	
}

.btn-pink:hover{
	background-color: rgb(50,50,50);
	color: white;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li{
	display:inline;
	padding:10px;
}
.list-inline i{
	font-size:50px;
	color:#CE7DA5;
}

/* Design adjustement using id */

#introduction p {
	margin: 50px;
}



